<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdhxqh.household_app"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.READ_CONTACTS"/><!-- 读取通讯录权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/><!-- 写入通讯录权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature    android:name="android.hardware.camera" />
    <uses-feature    android:name="android.hardware.camera.autofocus" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Toolbar"
        tools:replace="icon,label" >
        <activity
        android:name=".ui.actvity.Load_Activity"
        android:label="@string/app_name"
        android:alwaysRetainTaskState="true"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden|screenSize"
        >
        <!-- android:theme="@style/AppTheme.Toolbar1"-->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.actvity.BaseActivity"
            android:label="@string/title_activity_base" />
        <activity
            android:name=".ui.actvity.AddEquipmentActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.actvity.ActivityForgetPassword"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.actvity.MainActivity"
            android:label="MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.actvity.AlarmActivity"
            android:label="MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.actvity.SafeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.actvity.TypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.actvity.ViewUserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.actvity.Activity_First_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.actvity.Activity_Login"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.actvity.Activity_Registry_User">
        </activity>
        <activity
            android:name=".ui.actvity.Activity_User_Type"
            android:label="MainActivity"  >
        </activity>
        <activity
            android:name=".ui.actvity.AddContacterActivity"
            android:label="MainActivity"  />
        <activity android:name=".ui.actvity.Activity_Registry_Result"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_Help_Center"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_Notify_Mode"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_Role_Group"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_Video_Control"  >
        </activity>
        <activity android:name=".ui.actvity.TestActivity"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_Help_Center_Datail"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_Help_Center_Search"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_Alarm_Del"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_alarm_play"  >
        </activity>
        <activity android:name=".ui.actvity.ActivityAbout"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_use_guide"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_company_introduce"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_soft_suggest"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_File_Detail_img"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_File_Detail_video"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_Equip_delete"  >
        </activity>
        <activity android:name=".ui.actvity.Activity_Equip_edit"  >
        </activity>
        <activity
            android:name=".zxing.activity.CaptureActivity"  >
        </activity>

        <!--<activity
            tools:replace="configChanges"
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="io.vov.vitamio.activity.VideoViewDemo"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>-->
        <activity
            android:name=".ui.actvity.Activity_pay_video"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.actvity.Activity_Alarm_List"  >
        </activity>
    </application>

</manifest>
